#art {
  min-height: 90vh;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  padding: 5%;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.images img {
  width: 40%;
}
