/* mobile */
@media (max-width: 599px) {
  :root {
    --logo-size: 200px;
    --row-height: 320px;
  }

 #main-nav {
    width: 275px;
    height: 275px;
    top: 94%;
    transform: translate(25%, -50%);
  }

  #main-nav a {
    margin-right: 33%;
    font-size: 21px;
    padding: 1px 0;
  }
  #main-nav a:last-child {
    margin-bottom: 45px;
  }

  #hero-title {
    font-size: 46px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57vw;
  }

  #hero-title span {
    font-size: 30px;
  }

  .halftone-logo-main {
    width: 120vw;
    height: 120vw;
    top: 5vh;
    left: -10vw;
  }

  header {
    overflow: hidden;
  }

  .header-inner {
    display: block;
  }

  section {
    padding: 0;
    text-align: center;
  }

  .section-title {
    font-size: 24px;
    margin: 30px auto 30px auto;
    padding: 7px 14px 7px 14px;
    line-height: 32px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .section-title:after {
    content: '';
    width: 110%;
    position: absolute;
    height: 1px;
    border-bottom: 1px dashed black;
    bottom: -2px;
    left: -5%;
  }

  .category {
    margin-bottom: 10px;
    position: relative;
  }
  .category:after {
    content: '';
    width: 50%;
    position: absolute;
    height: 1px;
    border-bottom: 1px dashed black;
    bottom: -2px;
    left: 25%;
  }
  .category:before {
    content: '';
    width: 45%;
    position: absolute;
    height: 1px;
    border-bottom: 1px dotted black;
    bottom: -1px;
    left: 27.5%;
  }

  .category-logo {
    position: static;
    margin: 25px auto 35px auto;
    transform: translateX(0);
  }

  .category-grid-2, .category:nth-of-type(n) .category-grid-3, .category-grid-3 .two-elem {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .two-elem .experiment-item,
  .experiment-item,
  .experiment-item.big,
  .category-grid-2 .experiment-item {
    width: 100%;
    height: auto;
  }

  .experiment-item p {
    position: static;
    color: #000;
    background-color: transparent;
    padding: 10px 20px 30px 20px;
    line-height: 1.4em;
  }

  .experiment-item h3 {
    font-size: 21px;
    padding: 7px 14px 7px 14px;
    left: 0;
    right: auto !important; /* todo */
  }

  #event-upcoming {
    padding: 10px;
  }

  #event-upcoming .form-column {
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #subscribe-form {
    align-items: center;
  }

  #subscribe-form label, #subscribe-form input {
    text-align: center;
  }

  #subscribe-form input {
    padding: 9px 10px;
  }

  #subscribe-form button {
    padding: 10px 25px;
  }

  #happenings h2 {
    font-size: 21px;
    margin: 10px auto 10px auto;
  }

  .event h3 {
    font-size: 18px;
    padding: 0 20px;
  }

  .event .img-row {
    flex-direction: column;
    height: auto;
  }

  .event .img-row.four .event-img, .event .img-row.three .event-img {
    width: 100%;
    height: 300px;
  }

  .more-link.right::after {
    left:0;
    transform: translate(0, 0);
    top:100%;
  }

  .heart-divider {
    background: url(assets/divider-heart-colored_small.jpg) top right no-repeat;
    background-size: cover;
  }

  .heart-divider p {
    margin-right: 35%;
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
    padding: 7px;
  }

  footer img {
    width: 70vw;
    height: 30vw;
    transform: translate(-2%, -5%);
  }
}

/* mobile & tablet */
@media (max-width: 1023px) {
  #intro {
    padding: 40px 40px 0 40px;
  }

  #intro p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1.35em;
    margin-bottom: 10px;
  }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  :root {
    --row-height: 300px;
    --gap-size: 20px;
    --logo-size: 180px;
  }
  section {
    padding: 60px 20px 30px;
  }
  .halftone-logo-main {
    top: -40vw;
    left: -40vw;
    width: 125vw;
    height: 125vw;
  }
  #hero-title {
    position: absolute;
    top: 15vw;
    left: 10vw;
    padding: 0;
    margin: 0;
    width: auto;
    font-size: 8vw;
    text-align: left;
  }
  #hero-title span {
    font-size: 5vw;
    text-align: left;
  }
  #main-nav {
    top: 85%;
  }
}

/* big desktop */
@media (min-width: 1440px) {
  section {
    width: 1440px;
  }
}
