:root {
    --text-color: #020202;
    --darkgrey: #2b2b2b;
    --yellow: #f1f848;
    --row-height: 320px;
    --gap-size: 30px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    text-transform: uppercase;
}


a, a:visited {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 760px;
    background-color: var(--text-color);
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#hero-title {
    width: 220px;
    padding-left: 120px;
    font-size: 66px;
    font-weight: 500;
    line-height: 1.26;
    color: #fff;
    text-align: center;
    z-index: 2;
}

#hero-title span {
    display: block;
    font-size: 36px;
    text-transform: lowercase;
}

#main-nav {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 360px;
    background-color: var(--yellow);
    border-radius: 100%;
    z-index: 2;
    transform: translate(33%, -50%);
}


#main-nav a {
    display: block;
    padding: 5px 0;
    margin-right: 45%;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    transition: opacity .4s;
}

#main-nav a:hover {
    opacity: 0.5;
}

#header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 105vw;
    height: 105vw;
    z-index: 0;
    opacity: .9;
    transform: translate(-38%, -24%);
}

.halftone-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin-bottom: 70px;
}

#intro {
    padding: 40px;
    margin: 0;
    justify-content: flex-end;
}

#intro p {
    width: 45%;
    margin: 0;
    font-size: 22px;
    letter-spacing: 0.07em;
    text-align: right;
}

.section-title {
    width: 100%;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    padding: 70px 0;
    margin: 0;
}

.category {
    position: relative;
    display: grid;
    width: 100%;
    grid-gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}

.category-grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--row-height);
}

.category-grid-3 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: var(--row-height) var(--row-height);
}

.category-grid-3 .experiment-item:nth-child(1) {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}

.category-grid-3 .experiment-item:nth-child(2) {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
}

.category-grid-3 .experiment-item.vertical {
    grid-column: 8 / -1;
    grid-row: 1 / -1;
}

.experiment-item {
    position: relative;
}

.experiment-item h2 {
    position: absolute;
    top: 0;
    padding: 7px;
    margin: 0;
    z-index: 2;
    font-size: 24px;
    line-height: 30px;
    background: var(--yellow);
}

.experiment-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    z-index: 2;
    color: #fff;
    letter-spacing: 0.02em;
    background-color: var(--darkgrey);
}

p.center {
    text-align: center;
}

.experiment-item.left h2 {
    left: 0;
}


.experiment-item.right h2 {
    right: 0;
}

.experiment-item::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    background-color: var(--yellow);
    mix-blend-mode: overlay;
    transition: opacity .2s;
}

.experiment-item:hover::after {
    opacity: 0.5;
}


.category-logo {
    position: absolute;
    width: 24%;
    height: 0;
    padding-bottom: 24%;
    border-radius: 100%;
    background-color: #fff;
}

.category-grid-3 .category-logo {
    top: 50%;
    left: calc(7/12 * 100%);
    transform: translate(-50%, -50%);
}

.category-grid-2 .category-logo {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.full-bleed {
    width: 100%;
    max-width: 100%;
    height: 250px;
}

q {
    width: 30vw;
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    margin-left: -12vw;
}

.heart-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/divider-heart.jpeg') top left / cover no-repeat;
}

.event {
    width: 100%;
    margin-bottom: 30px;
}

.event h2 {
    font-size: 24px;
    line-height: 30px;
}

.event .img-row {
    display: flex;
    width: 100%;
    height: 210px;
}

.event .img-row.four img{
    flex: 1 1 auto;
    width: auto;
    height: 100%;
    object-fit: cover;
}

footer {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--darkgrey);
}

footer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 44vw;
    height: 21vw;
    transform: translate(-10%, 0);
}

footer form {
    display: flex;
    width: 100%;
    max-width: 960px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

footer form label {
    color: #fff;
    font-size: 18px;
}

footer form input,
footer form button {
    height: 50px;
    padding: 10px;
    border: none;
    margin-left: 30px;
    font-size: 18px;
    box-sizing: border-box;
}

footer form input {
    width: 320px;
}

footer form button {
    padding: 10px 20px;
    text-align: center;
    font-family: inherit;
    background-color: #efefef;
}
