:root {
  --text-color: #020202;
  --black: #0D1112;
  --darkgrey: #2b2b2b;
  --lightgrey: #4b4b4b;
  --orange: #f4472d;
  --row-height: 420px;
  --gap-size: 30px;
  --logo-size: 280px;
  --form-size: 420px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 span, h2 span, h3 span {
  font-family: 'Open Sans', sans-serif;
}

.img-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: relative;
  height: 100vh;
  max-height: 760px;
  background-color: var(--black);
}

.header-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#hero-title {
  font-size: 6vw;
  font-weight: 500;
  line-height: 1.26;
  color: #fff;
  text-align: left;
  width: auto;
  z-index: 0;
  position: absolute;
  top: 15vw;
  left: 10vw;
}

#hero-title span {
  display: block;
  /* font-size: 36px; */
  text-transform: lowercase;
  font-size: 5vw;
  text-align: left;
}

#main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 360px;
  background-color: var(--orange);
  border-radius: 100%;
  z-index: 12;
  transform: translate(35%, -50%);
}

#main-nav a {
  display: block;
  padding: 5px 0;
  margin-right: 39%;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  transition: opacity .4s;
}

#main-nav a:hover {
  opacity: 0.5;
}

.halftone-logo-main {
  position: absolute;
  top: -40vw;
  left: -40vw;
  width: 125vw;
  height: 125vw;
  opacity: .9;
  transform-origin: center center;
  z-index: 10;
  max-width: 2000px;
  max-height: 2000px;
  animation: rotateLogo 180s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

section {
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
  padding: 60px;
}

section:last-child {
  margin-bottom: 0px;
}

.category:last-child {
  margin-bottom: 0px;
}

#intro {
  padding: 40px;
  margin: 0 auto;
}

#intro p {
  width: 45%;
  margin: 0 0 0 auto;
  font-size: 22px;
  letter-spacing: 0.07em;
  text-align: right;
}

.section-title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 60px;
}

.category {
  position: relative;
  margin-bottom: calc(var(--gap-size) * 3);
}

.category-grid-2 {
  display: flex;
  height: var(--row-height);
  justify-content: space-between;
}

.category-grid-2 .experiment-item {
  width: calc(50% - (var(--gap-size) / 2))
}

.category-grid-2 .experiment-item:nth-of-type(2n + 1) h3 {
  right: 0;
}

.category-grid-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-elem {
  display: flex;
  flex-direction: column;
  width: calc(60% - var(--gap-size) / 2);
  justify-content: space-between;
}

.two-elem .experiment-item {
  height: var(--row-height);
}

.experiment-item.big {
  width: calc(40% - var(--gap-size) / 2);
  height: calc(var(--row-height) * 2 + var(--gap-size))
}

.category:nth-of-type(2n + 1) .category-grid-3 .big h3 {
  right: 0;
}

.category:nth-of-type(2n) .category-grid-3 {
  flex-direction: row-reverse;
}

.category:nth-of-type(2n) .category-grid-3 .two-elem .experiment-item:first-child p {
  padding-left: 24%;
}
.category:nth-of-type(2n + 1) .category-grid-3 .two-elem .experiment-item:first-child p {
  padding-right: 24%;
}
.category-grid-2 .experiment-item:first-child p {
  padding-right: 21%;
}

.category-grid-2 .experiment-item:last-child p {
  padding-left: 21%;
}

.category:nth-of-type(2n) .category-grid-3 .two-elem h3 {
  right: 0;
}

.experiment-item {
  position: relative;
  z-index: 12;
}

.experiment-item h3 {
  position: absolute;
  top: 0;
  padding: 7px;
  margin: 0;
  z-index: 2;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  background: var(--orange);
  max-width: calc(100% - 45px)
}
.experiment-item a {
  color: #fff;
}

.experiment-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  margin: 0;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: 0.01em;
  background-color: var(--darkgrey);
}

.more-link {
    display:inline-block;
    height: 100%;
}

.more-link::after:hover {
  background-color: var(--lightgrey);
  border-color: var(--lightgrey);
}

.event .more-link::after, .category .more-link::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  z-index: 2;
  background: url('assets/more-link.svg') center / contain no-repeat var(--darkgrey);
  border: 10px solid var(--darkgrey);
  top: 0;
}

.event .more-link::after {
  left: 0;
}

.category .more-link.left::after {
  left: 100%;
}

.category .more-link.right::after {
  left: -45px;
}

.event:last-child {
  margin-bottom: 0px;
}

p.center {
  text-align: center;
}

.category-logo {
  position: absolute;
  width: var(--logo-size);
  height: var(--logo-size);
  z-index: 100;
  border-radius: 100%;
  background-color: #fff;
  top: calc((var(--row-height) - var(--logo-size)) / 2);
  left: calc(50% - var(--logo-size) / 2);
  overflow: hidden;
}

.category:nth-of-type(2n+1) .category-grid-3 .category-logo {
  top: calc(50% - var(--logo-size) / 2);
  left: calc(60% - var(--logo-size) / 2);
}

.category:nth-of-type(2n) .category-grid-3 .category-logo {
  top: calc(50% - var(--logo-size) / 2);
  left: calc(40% - var(--logo-size) / 2);
}

.category-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-bleed {
  max-width: 100%;
  height: 320px;
}

.heart-divider {
  padding: 0;
  background: url('assets/divider-heart-colored_small.jpg') top right no-repeat;
  background-size: cover;
}

.heart-divider p {
  position: relative;
  max-width: 420px;
  top: 50%;
  padding: 20px;
  margin: 0 34% 0 auto;
  flex: 1;
  font-size: 18px;
  line-height: 1.4em;
  font-style: italic;
  color: #eaeaea;
  letter-spacing: 0.03em;
  transform: translateY(-50%);
}

.heart-divider-right {
  width: 40%;
}

#happenings h2 {
  width: 100%;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 40px auto;
  overflow: hidden;
}

#event-upcoming {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.events-content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 20px 20px 20px 20px;
  background-image: url('./assets/form-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#event-upcoming .form-column {
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  height: 320px;
  width: 320px;
  border-radius: 50%;
}

#event-upcoming .events-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: calc(100% - 300px);
  background-color: #fff;
}


#event-upcoming .event:not(:last-of-type) {
  border-bottom: 1px solid var(--text-color);
}

#event-upcoming a {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

#event-upcoming a:hover {
  color: var(--lightgrey)
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 40px;
  width: 100%;
  height: 100%;
}

#subscribe-form label {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#subscribe-form input,
#subscribe-form button {
  font-family: inherit;
  font-size: 18px;
  letter-spacing: 0.02em;
  box-sizing: border-box;

}

#subscribe-form input {
  padding: 0 0 2px 0;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--black);
  border-top: none;
  border-left: none;
  border-right: none;
  height: auto;
}

#subscribe-form button {
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  position: relative;
  z-index: 100;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

#subscribe-form button:hover {
  background: var(--black);
}

.form-column #success-msg {
  display: none;
  margin: 0 auto 0 auto;
  text-align: center;
  color: var(--orange);
  font-size: 22px;
  margin-top: calc(50% - 15px);
}

#event-past h2 {
  margin-top: 40px;
}

.event {
  margin-bottom: 30px;
  overflow: hidden;
}

.event:only-child {
  margin: 0;
}

.event h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding: 0 17px;
  margin: 24px 0;
  position: relative;
  display: inline-block;
}

.event h3:before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--orange);
}

.event .img-row {
  display: flex;
  height: 240px;
}

.event .img-row .event-img {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
}

.event .img-row.four .event-img {
  width: 25%;
}

.event .img-row.three .event-img {
  width: calc(1 / 3 * 100%);
}

.experiment-item::after,
.event-img::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  background-color: #68E1B9;
  mix-blend-mode: overlay;
  transition: opacity .1s;
  pointer-events: none;
}

.experiment-item:hover::after,
.event-img:hover::after {
  opacity: 0.5;
}

footer {
  position: relative;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--black);
}


.footer-inner {
  width: 100%;
  max-width: 1440px;
  padding: 0 60px;
  box-sizing: border-box;
}


footer p,
footer a {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.02em;
}

footer p {
  text-align: right;
}

footer a {
  margin: 0 0 0 15px;
  transition: opacity .2s;
}

footer a:hover {
  opacity: 0.5;
}

footer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 44vw;
  height: 21vw;
  transform: translate(-10%, 0);
}
