:root {
    --text-color: #020202;
    --black: #0D1112;
    --darkgrey: #2b2b2b;
    --lightgrey: #4b4b4b;
    --yellow: #f1f848;
    --row-height: 320px;
    --gap-size: 30px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 span, h2 span, h3 span {
    font-family: 'Open Sans', sans-serif;
}


a, a:visited {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    position: relative;

    width: 100%;
    height: 100vh;
    max-height: 760px;
    background-color: var(--black);
}

.header-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hero-title {
    width: 220px;
    padding-left: 120px;
    font-size: 66px;
    font-weight: 500;
    line-height: 1.26;
    color: #fff;
    text-align: center;
    z-index: 2;
}

#hero-title span {
    display: block;
    font-size: 36px;
    text-transform: lowercase;
}

#main-nav {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 360px;
    background-color: var(--yellow);
    border-radius: 100%;
    z-index: 2;
    transform: translate(33%, -50%);
}


#main-nav a {
    display: block;
    padding: 5px 0;
    margin-right: 45%;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    transition: opacity .4s;
}

#main-nav a:hover {
    opacity: 0.5;
}

#header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 105vw;
    height: 105vw;
    z-index: 0;
    opacity: .9;
    transform: translate(-38%, -24%);
}


main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin-bottom: 70px;
}

#intro {
    padding: 40px;
    margin: 0;
    justify-content: flex-end;
}

#intro p {
    width: 45%;
    margin: 0;
    font-size: 22px;
    letter-spacing: 0.07em;
    text-align: right;
}

.section-title {
    width: 100%;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    padding: 70px 0;
    margin: 0;
}

.category {
    position: relative;
    display: grid;
    width: 100%;
    grid-gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}

.category-grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--row-height);
}

.category-grid-3 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: var(--row-height) var(--row-height);
}

.category-grid-3.right-3 .experiment-item:nth-child(1),
.category-grid-3.right-3 .experiment-item:nth-child(2) {
    grid-column: 1 / 8;
}

.category-grid-3.right-3 .experiment-item.vertical {
    grid-column: 8 / -1;
    grid-row: 1 / -1;
}

.category-grid-3.left-3 .experiment-item:nth-child(1),
.category-grid-3.left-3 .experiment-item:nth-child(2) {
    grid-column: 6 / -1;
}

.category-grid-3.left-3 .experiment-item.vertical {
    grid-column: 1 / 6;
    grid-row: 1 / -1;
}


.category-grid-3 .experiment-item:nth-child(1) {
    grid-row: 1 / 2;
}

.category-grid-3 .experiment-item:nth-child(2) {
    grid-row: 2 / 3;
}


.experiment-item {
    position: relative;
}

.experiment-item h3 {
    position: absolute;
    top: 0;
    padding: 7px;
    margin: 0;
    z-index: 2;
    font-size: 24px;
    line-height: 30px;
    background: var(--yellow);
}

.experiment-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 0.01em;
    background-color: var(--darkgrey);
}

.more-link {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index: 10;
    text-align: center;
    background-color: var(--darkgrey);
    box-sizing: border-box;
    transition: background-color .2s;
}

.more-link:hover {
    background-color: var(--lightgrey);
}


.more-link::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('assets/more-link.svg') center / contain no-repeat transparent;
}

p.center {
    text-align: center;
}

.experiment-item .more-link {
    top: 44px;
}

.experiment-item.left h3,
.experiment-item.left .more-link {
    left: 0;
}

.experiment-item.right h3,
.experiment-item.right .more-link {
    right: 0;
}


.category-logo {
    position: absolute;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 100%;
    background-color: #fff;
    z-index: 100;
}

.logo-wrapper {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}

.category-grid-3.right-3 .category-logo {
    top: 50%;
    left: calc(7/12 * 100%);
    transform: translate(-50%, -50%);
}

.category-grid-3.left-3 .category-logo {
    top: 50%;
    left: calc(5/12 * 100%);
    transform: translate(-50%, -50%);
}

.category-grid-2 .category-logo {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.category-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.full-bleed {
    width: 100%;
    max-width: 100%;
    height: 250px;
}

.heart-divider {
    display: flex;
    justify-content: left;
    align-items: center;
    background: url('assets/divider-heart-colored.jpg') top left / cover no-repeat;
    flex-wrap: nowrap;
}

.heart-divider:before {
    display: block;
    flex: 1;
    content: ' ';
    min-width: var(--gap-size)
}

.heart-divider:after {
    display: block;
    width: 400px;
    content: ' ';
}

.heart-divider p {
    width: 476px;
    font-size: 19px;
    line-height: 25px;
    font-style: italic;
    color: #eaeaea;
    letter-spacing: 0.03em;
}

.heart-divider-right {
    flex: 1;
}

#happenings h2 {
    width: 100%;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}

.event-upcoming {
    position: relative;
    width: 100%;
    padding: 20px;
    background: rgba(241, 248, 72, 0.71);
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

#happenings form {
    display: flex;
    width: 50%;
    flex-direction: column;
}

#happenings form label {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

#happenings form input,
#happenings form button {
    height: 100%;
    padding: 10px;
    border: none;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}

#happenings form input {
    width: 320px;
    font-family: inherit;
}


#happenings form button {
    padding: 10px 20px;
    text-align: center;
    font-family: inherit;
    background-color: #efefef;
}

#success-msg {
    display: none;
    line-height: 50px;
}


.event {
    width: 100%;
    margin-bottom: 30px;
}

.event-upcoming .event {
    width: 66%;
    max-width: 66%;
    /*border-bottom: 1px solid var(--text-color);*/
}

.event-upcoming h3 {
    margin-bottom: 10px;
}

.event-upcoming a {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

.event-upcoming a:hover {
    color: var(--lightgrey)
}

.event h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.event .img-row {
    display: flex;
    width: 100%;
    height: 210px;
}

.event .img-row .event-img {
    position: relative;
    height: 100%;
    flex: 1 1 auto;
}

.event .img-row.four .event-img {
    width: 25%;
}

.event .img-row.three .event-img {
    width: calc(1/3 * 100%);
}

.experiment-item::after,
.event-img::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    background-color: var(--yellow);
    mix-blend-mode: overlay;
    transition: opacity .2s;
}

.experiment-item:hover::after,
.event-img:hover::after {
    opacity: 0.5;
}

footer {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--black);
}

footer p,
footer a {
    margin: 0;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.02em;
}

footer a {
    margin-left: 15px;
    transition: opacity .2s;
}

footer a:hover {
    opacity: 0.5;
}

footer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 44vw;
    height: 21vw;
    transform: translate(-10%, 0);
}

.footer-inner {
    display: flex;
    width: 100%;
    max-width: 960px;
}

.footer-inner {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


#success-msg {
    height: 50px;
    margin-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
}


iframe {
    display: none;
}