:root {
  --text-color: #020202;
  --black: #0D1112;
  --darkgrey: #2b2b2b;
  --lightgrey: #4b4b4b;
  --orange: #EE4036;
  --row-height: 520px;
  --gap-size: 20px;
  --form-size: 420px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'century-gothic', sans-serif;
  overflow-x: hidden;
  text-align: center;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 span, h2 span, h3 span {
  font-family: 'century-gothic', sans-serif;
}

.img-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block;
  filter: grayscale(100%);
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

.category-type img {
  object-fit: contain;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: relative;
  background-color: white;
  overflow: hidden;
  background-image: url('./../assets/cover_alpha.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

header.small {
  height: 400px;
  background-color: rgb(200, 80, 200);
}

#hero-title {
  font-weight: 700;
  color: var(--orange);
  z-index: 1;
  width: auto;
  text-align: left;
  margin-top: 85px;
  margin-left: 50px;
}

#hero-title h6, #hero-title h1 {
  margin: 0;
  display: inline-block;
  position: relative;
  background-color: var(--black);
  border-radius: 15px;
  transition: 0.1s;
}

#hero-title h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 80%;
  padding: 5px 15px 15px 5px;
  border-bottom-left-radius: 0;
}

#hero-title h6 {
  text-transform: lowercase;
  font-size: 100px;
  line-height: 100%;
  padding: 0 15px 5px 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  mix-blend-mode: multiply;
  /* background-image: linear-gradient(to right top, #c38d9e, #ae93bf, #7ca1d3, #3badca, #40b3a3) */
}

.bubble {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.5s ease-in, width 0.2s ease-out, height 0.2s ease-out;
  cursor: pointer;
  mix-blend-mode: exclusion;
}

.bubble-1 {
  left: 60%;
  top: 0%;
}
.bubble-2 {
  left: 10%;
  top: 50%;
}

#main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 360px;
  background-color: var(--orange);
  border-radius: 100%;
  z-index: 12;
  transform: translate(35%, -50%);
  white-space: nowrap;
}

#main-nav a {
  display: block;
  padding: 5px 0;
  right: 36%;
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  transition: color .4s ease-out, font-size 0.2s ease-out;
  position: absolute;
  transform-origin: right center;
}
#main-nav a:first-of-type {
  top: 33%;
}
#main-nav a:nth-of-type(2) {
  top: 45%;
}
#main-nav a:last-of-type {
  top: 56%;
}

/* #main-nav a:hover {
  font-size: 36px;
  opacity: 1;
  color: #4CC1E5;
} */
#main-nav a:active {
  color: white;
}

section {
  width: 100%;
  padding: 60px 0 60px 0;
}

.section-title {
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 60px auto;
}

#intro {
  padding: 100px 15% 100px 15%;
  background-color: black;
  color: white;
  position: relative;
}

#intro p {
  width: 95%;
  margin: 0 auto 0 auto;
  font-size: 40px;
  letter-spacing: 0.07em;
  text-align: center;
  font-weight: bold;
  line-height: 130%;
  z-index: 1;
}

#intro p b {
  background-color: var(--black);
  font-size: 38px;
  padding: 0 5px 0 5px;
  color: var(--orange);
  border-radius: 4px;
}

#intro p:last-of-type {
  margin-top: 40px;
}
#intro p span:hover {
  color: #40b3a3;
}

section#experiments {
  background-color: var(--orange);
  padding: 60px var(--gap-size) 0 var(--gap-size);
}

#experiments h1 {
  color: white;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category-grid .experiment-item {
  height: calc((100vw / 3) - ((4 * var(--gap-size)) / 3));
  width: calc((100vw / 3) - ((4 * var(--gap-size)) / 3));
  margin-left: calc((2 * var(--gap-size)) / 4);
  margin-right: calc((2 * var(--gap-size)) / 4);
  margin-bottom: var(--gap-size);
  position: relative;
}
.category-grid .experiment-item:nth-of-type(3n+1) {
  margin-left: 0;
}
.category-grid .experiment-item:nth-of-type(3n) {
  margin-right: 0;
}

.experiment-item h3 {
  position: absolute;
  top: 0;
  padding: 7px;
  margin: 0;
  z-index: 2;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  background: var(--orange);
  max-width: calc(100% - 45px);
  height: 45px;
}
.experiment-item a {
  color: #fff;
}

.experiment-item p {
  padding: 15px 30px 15px 30px;
  margin: 0;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.01em;
  font-size: 24px;
  text-align: center;
}
.experiment-item .overlay img {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.more-link {
    display:inline-block;
    height: 100%;
}

.more-link:after:hover {
  background-color: var(--lightgrey);
  border-color: var(--lightgrey);
}

.event .more-link::after, .category .more-link::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  z-index: 2;
  background: url('./../assets/more-link.svg') center / contain no-repeat var(--darkgrey);
  border: 10px solid var(--darkgrey);
  top: 0;
}

.event .more-link:after {
  left: 0;
}

.category .more-link:after {
  left: 100%;
}

.event:last-child {
  margin-bottom: 0px;
}

#divider {
  width: 100%;
}

#divider p {
  padding: 60px 20px 60px 20px;
  font-size: 38px;
  line-height: 1.4em;
  font-style: italic;
  color: black;
  letter-spacing: 0.03em;
  margin: auto;
  width: 80%;
  text-align: center;
}

#happenings {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

#happenings h1 {
  margin-bottom: 0;
  background-color: var(--black);
  border-radius: 5px;
  padding: 5px 8px 8px 8px;
  display: inline-block;
}

#event-upcoming {
  position: relative;
  box-sizing: border-box;
  position: relative;
  background-image: url('./../assets/form_bg_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: var(--gap-size);
  margin-right: var(--gap-size);
}

.events-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  height: 520px;
}

#event-upcoming .form-column {
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  z-index: 5;
}

#event-upcoming h2, #event-past h2 {
  color: black;
  width: auto;
  font-size: 40px;
  display: inline-block;
}

#event-upcoming h2 {
  position: absolute;
  top: 60px;
  left: 120px;
}

#event-past h2 {
  margin: 0 auto 60px auto;
  text-align: center;
}

#event-upcoming .events-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: calc(100% - 300px);
  background-color: #fff;
}


#event-upcoming .event:not(:last-of-type) {
  border-bottom: 1px solid var(--text-color);
}

#event-upcoming a {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

#event-upcoming a:hover {
  color: var(--lightgrey)
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 40px;
  width: 100%;
  height: 100%;
}

#subscribe-form label {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#subscribe-form input,
#subscribe-form button {
  font-family: inherit;
  font-size: 18px;
  letter-spacing: 0.02em;
  box-sizing: border-box;

}

#subscribe-form input {
  padding: 0 0 2px 0;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--black);
  border-top: none;
  border-left: none;
  border-right: none;
  height: auto;
  transition: border-color .1s;
}

#subscribe-form input.error {
  border-color: var(--orange);
}

#subscribe-form input:focus {
  outline: 1px dotted var(--lightgrey);
  outline-offset: 5px;
}

#subscribe-form button {
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  position: relative;
  z-index: 100;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

#subscribe-form button:hover {
  background: var(--black);
}

.form-column #success-msg {
  display: none;
  margin: 0 auto 0 auto;
  text-align: center;
  color: var(--orange);
  font-size: 22px;
  margin-top: calc(50% - 15px);
}

#event-past {
  margin-top: 60px;
  text-align: center;
}

.event {
  margin: 0 var(--gap-size) 0 var(--gap-size);
  overflow: hidden;
  text-align: left;
  position: relative;
}

.event:only-child {
  margin: 0;
}

.event h3 {
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
  display: block;
  color: black;
  background-color: white;
  padding: 5px 10px 5px 8px;
  margin: 0;
  z-index: 5;
}

.event .img-row {
  display: flex;
  height: 420px;
  background-color: var(--black);
}

.event .img-row .event-img {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
}
.event .img-row .event-img img {
  filter: grayscale(100%);
}

.event .img-row.four .event-img {
  width: 25%;
}

.event .img-row.three .event-img {
  width: calc(1 / 3 * 100%);
}

.experiment-item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

footer {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--black);
  margin-top: var(--gap-size);
}

.footer-inner {
  width: 100%;
  max-width: 1440px;
  padding: 0 60px;
  box-sizing: border-box;
  text-align: right;
}


footer p,
footer a {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.02em;
}

footer p {
  text-align: right;
}

footer a {
  margin: 0 0 0 15px;
  transition: opacity .2s;
}

footer a:hover {
  opacity: 0.5;
}

footer img.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 44vw;
  height: 21vw;
  transform: translate(-10%, 0);
  pointer-events: none;
}

.footer-inner p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-inner div {
  height: 50px;
  width: auto;
  display: inline-block;
  margin: 0 0 10px 0;
}

footer img.icon-link {
  width: 40px;
  height: 40px;
}
